/*Para todos*/
body{
    margin: 0;
}
.titulo{
    text-align: center;
    border: 1px black solid;
    background-color: #95ffc5;
}

.indice{
    background-color: #fad48d;
    border: 1px black solid;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.enlaces{
    margin-top: 6%;
    text-align: center;
    border: 1px black solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #95ffc5;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}
/*index.html*/
.parrafos{
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 5%;
    text-align: justify;
}

/*Pagina2.html*/
.Parrafos_2{
    margin-top: 4%;
    }

/*Pagina4.html*/
.Parrafos_4{
    margin-top: 1%;
    margin-left: 1%;
    width: 60%;
}

.enunciado_4{
    margin-top:2%;
    text-align: center;
}

.img_1{
    margin-top: 1%;
    padding-left: 1%;
    margin-bottom: 5%;
    width: 60%;
    position: relative;
    display: flex;
    flex-flow: row;
    background-size:cover ;
}

.img_2{
    margin-top: 1%;
    padding-left: 1%;
    margin-bottom: 5%;
    width: 60%;
}

.Texto_4{
    margin-bottom: 1%;
    text-align: justify;
    margin-bottom: 2%;
}

i-a{
    margin-top: 2%;
    margin-left: 2%;
}
